<div class="prikaz card">
  <i class="fa fa-times-circle" aria-hidden="true" ng-click="close()"></i>
  <div class="izabrani-podaci">
    <div class="row">
      <div class="col-lg-4">
        <p><i class="fa fa-book" aria-hidden="true"></i>{{ctrl.izabrana.naziv}}</p>
        <p><i class="fa fa-newspaper-o" aria-hidden="true"></i>{{ctrl.izabrana.izdavac}}</p>
        <p><i class="fa fa-address-card-o" aria-hidden="true"></i>{{ctrl.izabrana.ime+ ' '+ctrl.izabrana.prezime}}</p>
      </div>
      <div class="col-lg-8" ng-if="showKnjiga">
        <p ng-repeat="podatak in ctrl.sporedna">
          {{podatak.linija}}
        </p>
      </div>
    </div>
    <p class="read-more" ng-click="readMore()">{{ctrl.more}}</p>
  </div>
</div>
