<div id="search-box" class="my-card">
  <div id="search-text-icon-group">
    <i class="fa fa-search" aria-hidden="true"></i>
    <span class="span-search-title">Search</span>
  </div>
  <div class="crta"></div>
  <div class="search-fields">
    <div class="row">
      <div class="col-lg-12">



        <div class="input-group uiselect-setup" ng-repeat="n in ctrl.searchArraySelected track by $index">
          <span class="input-group-btn">
            <button class="btn btn-default constant-width-button" type="button" ng-click="removeStatement($index)">Statement {{$index+1}} ({{n.statement}})</button>
          </span>

          <ui-select ng-model="n.search" theme="bootstrap"  on-select="loadChanges()">
            <ui-select-match placeholder="Select or search a word"><span class="control-me-300">{{$select.selected.name}}</span>
            </ui-select-match>
            <ui-select-choices repeat="item in ctrl.searchArray | filter: $select.search | limitTo: 100" refresh-delay="500">
              <div ng-bind-html="item.name | highlight: $select.search" ></div>

            </ui-select-choices>
          </ui-select>

          <input type="text" class="form-control" placeholder="enter value" ng-change="loadChanges()" ng-model="n.value">

          <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="addStatementAnd($index)">and</button>
                <button class="btn btn-default" type="button" ng-click="addStatementOr($index)">or</button>
          </span>
        </div>

        <!-- aa {{nekiArray[0]}} -->

        <!-- <div class="input-group">
          <span class="input-group-addon">
            <input class="ch" type="checkbox" aria-label="Checkbox for following text input" ng-change="loadChanges()" ng-model="b.ch">
          </span>
          <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="{{b.name}}" ng-change="loadChanges()" ng-model="b.tx">
          <span class="input-group-addon">
            <span class="span-text-checkbox">{{b.name}}</span>
          </span>
        </div> -->
      </div>
    </div>
  </div>
</div>
